[alias]
	# Add
	add-all = add --all
	add-all-tracked = add --update

	# Branch Create/Delete/List/Switch
	bc = switch --create
	bd = branch --delete
	bl = branch
	bs = switch

	# Check
	check = "!f() { printf 'Staged:\\n' && git diff --check --staged && printf '(no errors)\\n'; printf '\\nUnstaged:\\n' && git diff --check && printf '(no errors)\\n'; } && f"

	# Commit (with a check and a diff beforehand)
	submit = "!f() { git diff --check --staged && git d-staged && git commit \"$@\"; } && f"

	# Diff
	d = difftool HEAD
	d-all = difftool --dir-diff HEAD
	d-commit = difftool --dir-diff
	d-staged = difftool --dir-diff --staged

	# Discard Changes
	discard = restore
	discard-all = restore :/

	# Graph (Log)
	g = gg --max-count=20
	gg = log --graph --abbrev-commit --pretty=oneline
	g-all = gg-all --max-count=20
	gg-all = gg --all
	g-full = log --graph --pretty=fuller --show-signature
	g-full-all = g-full --all

	# Log
	l = ll --max-count=20
	ll = log --abbrev-commit --pretty=oneline
	l-full = log --pretty=fuller --show-signature

	# Resolve (Merge)
	resolve = mergetool

	# Remove (opposite of `git add`)
	rem = restore --staged
	rem-all = reset --mixed

	# Root
	root = rev-parse --show-toplevel

	# Status
	s = "!f() { git status && printf '\\nStash:\\n' && stash=\"$(git stash list --abbrev-commit --pretty=oneline --color=never)\" && printf \"${stash:-(nothing stashed)}\\n\"; } && f"


[commit]
	gpgSign = true


[core]
	editor = vim
	pager = delta


[delta]
	light = false
	navigate = true
	side-by-side = true


[diff]
	guitool = meld
	tool = vimdiff


[difftool]
	prompt = false
	guiDefault = auto


[fetch]
	prune = true
	pruneTags = true


[gpg]
	format = ssh


[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers


[init]
	defaultBranch = main


[merge]
	guitool = meld
	tool = vimdiff


[mergetool]
	guiDefault = auto


[mergetool "meld"]
	useAutoMerge = auto


[mergetool "vimdiff"]
	layout = LOCAL,MERGED,REMOTE


[pull]
	rebase = true


[tag]
	forceSignAnnotated = true
	gpgSign = true


[user]
	signingKey = ~/.ssh/id_ed25519.pub
